<div id="guestbook" class="prepend-1">

<%= render 'form' %>



<% @entries.each do |entry| %>
<% @entry_title = entry.name + " - " + entry.created_at.strftime("%m/%d/%Y") %>
<%= field_set_tag @entry_title, :class => "leg clear span-20" do %>
<p id="first_letter">&lsquo;<%= entry.message =%>&rsquo;</p>
  <% if signed_in? && current_user.email == "nathan.nontell@gmail.com" %>
      <%= link_to 'Show', entry %>
      <%= link_to 'Edit', edit_entry_path(entry) %>
      <%= link_to 'Destroy', entry, confirm: 'Are you sure?', method: :delete %>
  <% end %>
<% end %>
  
<% end %>



</div>
