<%= nested_form_for(@rsvp, :html => { :id => "beautiful" }) do |f| %>
  <% if @rsvp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rsvp.errors.count, "error") %> prohibited this RSVP from being saved:</h2>

      <ul>
      <% @rsvp.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="form-wrap">
    <% if !@current_user %>
      <%= field_set_tag 'Login Information', :class => "leg span-9 prepend-1 push-1 last prepend-top" do %>
        <%= f.fields_for :user do |builder| %>
          <p>
          <%= builder.label "Your Name" %><br />
          <%= builder.text_field :name, :onchange => "copyName()" %> <br />
          <%= builder.label :email %><br />
          <%= builder.text_field :email %> <br />
          <%= builder.label :password %> <br />
          <%= builder.password_field :password %> <br />
          <%= builder.label :password_confirmation %> <br />
          <%= builder.password_field :password_confirmation %> <br />
          </p>
        <% end %>
      <% end %>
   <% end %>

  <% if !@current_user %>
    <%= image_tag "jumping.jpg", :id => "jumping" %>
  <% else %>
    <%= image_tag "jumping.jpg", :id => "jumping-left", :class => "push-1" %>
  <% end %>

     <%= field_set_tag 'Guests', :class => "clear leg span-20 prepend-1 push-1 last prepend-top" do %>
     <p id="guest-instruct">Please use the add guest link below to add the name of
        each guest that you are RSVPing for. Don't forget the kids!</p>
     <%= f.fields_for :guests do |builder| %>
      <p class = "float-left guest-name">
      <%= builder.label :name %>
      <%= builder.text_field :name %>
      </p>
      <%= field_set_tag 'Going to the wedding?', :class => "questions float-left" do %>
        <%= builder.radio_button(:wedding, "yes", :checked => true) %>
        <%= builder.label(:wedding_yes, "Yes") %>
        <%= builder.radio_button(:wedding, "no") %>
        <%= builder.label(:wedding_no, "No") %>
        <%= builder.radio_button(:wedding, "maybe") %>
        <%= builder.label(:wedding_maybe, "Maybe") %>
      <% end %>
      <%= field_set_tag 'Going to the reception?', :class => "questions float-left" do %>
        <%= builder.radio_button(:reception, "yes", :checked => true) %>
        <%= builder.label(:reception_yes, "Yes") %>
        <%= builder.radio_button(:reception, "no") %>
        <%= builder.label(:reception_no, "No") %>
        <%= builder.radio_button(:reception, "maybe") %>
        <%= builder.label(:reception_maybe, "Maybe") %>
      <% end %>
       <%= builder.link_to_remove "Remove this guest", :id => "remove" %>
       <HR id="line" />
     
    <% end %>
    <p><%= f.link_to_add "Add a Guest", :guests, :id => "add" %></p>
    <% end %>
      <%= field_set_tag 'Do we have your address?', :class => "clear leg span-11 prepend-1 push-1 last prepend-top address" do %>
      <%= f.fields_for :user do |builder| %>
      <p>
      <%= builder.label "Address Line 1" %>
      <%= builder.text_field :address_line_1 %> <br />
      <%= builder.label "Address Line 2" %>
      <%= builder.text_field :address_line_2 %> <br />
      <%= builder.label :city %> 
      <%= builder.text_field :city %> <br />
      <%= builder.label :state %> 
      <%= builder.text_field :state %> <br />
      <%= builder.label :zip %> 
      <%= builder.text_field :zip %> <br />
      </p>
      <% end %>
      <% end %>
     <%= field_set_tag 'Comment', 
                    :class => "clear leg span-11 prepend-1 push-1 last prepend-top" do %>
    <%= f.text_area :comment, 
                    :placeholder => "Any more information you'd like to give us? " +
                                    "Just want to say hello?" %>
    <% end %>
  </div>
  <div class="actions clear prepend-1">
    <%= f.submit "RSVP!!" %>
  </div>
<% end %>
