<div class="prepend-1"
<p>
  <h1>Guests:</h1> 
<table id="table-5" class="table">
<thead><th>Name</th><th>Wedding</th><th>Reception</th></thead>
<tbody>
   <% @rsvps.each do |rsvp| %>
   <% for guest in rsvp.guests %>
     <tr><td><%=h guest.name %></td>
         <td><%= guest.wedding.capitalize %></td>
         <td><%= guest.reception.capitalize %></td>
     </tr>
   <% end %>
   <% end %>
</tbody>
</table>
</p>
<p>There are <%= @wedding_yes %> guests attending the wedding, and <%= @wedding_maybe %> guests who might be coming.
   There are <%= @reception_yes %> guests attending the reception, with an additional <%= @reception_maybe %> guests possible. </p>
</div>
<div class="prepend-1">
<p>
  <h1>Users:</h1> 
<table id="table-5" class="table">
<thead><th>Id</th><th>Email</th><th>RSVP</th></thead>
<tbody>
   <% @users.each do |user| %>
     <tr><td><%= user.id %></td>
         <td><%= user.email %></td>
         <td><%= user.rsvp_id %></td>
     </tr>
   <% end %>
</tbody>
</table>
</p>
</div>