<header>
  <nav class="round">
   <ul>
     <li><%= link_to "Home", home_path %></li>
     <li><%= link_to "RSVP", "#" %></li>
     <li><%= link_to "Wedding", wedding_path %></li>
     <li><%= link_to "Reception", reception_path %></li>
     <li><%= link_to "Registry", registry_path %></li>
     <li><%= link_to "Honeymoon", honeymoon_path %></li>
   </ul>
 </nav>
</header>



