 <header id="mainHeader" class="span-24">
  <%= image_tag "header.jpg", :class =>"prepend-2" %>
  <nav id="mainNav" class="prepend-5">
   <ul id="siteNav">
     <li class=<%= "this" if current_page?(:controller => 'pages', :action => 'home') %> >
       <%= link_to "Home", root_path, 
       {:class => ("this" if current_page?(:controller => 'pages', :action => 'home'))} %>
     </li>
     
     
     
     <li class=<%= 
        (if current_page?(:controller => 'rsvps', :action => 'new')
           "this"
         elsif current_user && current_page?(:controller => 'rsvps', :action => 'edit', :id => current_user.rsvp_id)
           "this"
         end) %> >
       <%= link_to "RSVP", new_rsvp_path, {:class => 
        (if current_page?(:controller => 'rsvps', :action => 'new')
           "this"
         elsif current_user && current_page?(:controller => 'rsvps', :action => 'edit', :id => current_user.rsvp_id)
           "this"
         end)} %>
         
     </li>
     
     
     
     <li class=<%= "this" if current_page?(:controller => 'pages', :action => 'wedding') %> >
       <%= link_to "Wedding", wedding_path, {:class => ("this" if current_page?(:controller => 'pages', :action => 'wedding'))} %>
     </li>
     <li class=<%= "this" if current_page?(:controller => 'pages', :action => 'reception') %> >
       <%= link_to "Reception", reception_path, {:class => ("this" if current_page?(:controller => 'pages', :action => 'reception'))} %>
     </li>
     <li class=<%= "this" if current_page?(:controller => 'pages', :action => 'registry') %> >
       <%= link_to "Registry", registry_path, {:class => ("this" if current_page?(:controller => 'pages', :action => 'registry'))} %>
     </li>
     <li class=<%= "this" if current_page?(:controller => 'pages', :action => 'honeymoon') %> >
       <%= link_to "Honeymoon", honeymoon_path, {:class => 
         (if current_page?(:controller => 'pages', :action => 'honeymoon')
            "this last"
          else
            "last"
          end)} %>
     </li>
   </ul>
 </nav>
</header>



