<header id="mainHeader">
  <h1>Nathan and Julianne's Wedding</h1>
  <nav id="mainNav">
   <ul id="siteNav">
     <li><%= link_to_unless_current "Home", home_path %></li>
     <li><%= link_to_unless_current "RSVP", rsvp_path %></li>
     <li><%= link_to_unless_current "Wedding", wedding_path %></li>
     <li><%= link_to_unless_current "Reception", reception_path %></li>
     <li><%= link_to_unless_current "Registry", registry_path%></li>
     <li><%= link_to_unless_current "Honeymoon", honeymoon_path %></li>
   </ul>
 </nav>
</header>



